<nav class='navbar'>
  <div>
    <ul>
      <li class="nav-item active">
        <a class ='navbar-link' href="#">Accueil</a>
      </li>
      <li class="nav-item active">
        <a class ='navbar-link' href="static_pages/team.html.erb"> La Team</a>
      </li>
      <li class="nav-item active">
        <a class ='navbar-link' href="static_pages/contact.html.erb"> Contact</a>
      </li>
    </ul>
  </div>
</nav>


<h1>Welcome to the Gossip Project</h1>

<%# Bienvenue sur notre site Gossip Project %>
<%# Vous y trouverez tous les derniers potins de la communauté THP %>
<%# Si vous souhaitez nous contacter, vous pouvez envoyer un mail à contact@gossip_project.com %>

